@page
@model Consultas.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Consultas Medicas";
}

<div class="text-center home">
    <h1 class="display-4">Seja Bem vindo</h1>
    <h2 class="display-4"> Vamos agendar sua consulta?</h2>
    <h3 class="btn-agendar"> <a src="/Consultas/Index"> Agendar </a></h3>
   
</div>
